<?xml version="1.0"?>
<config>
    <modules>
        <Benefactory_BFOrder>
            <version>0.0.1</version>
        </Benefactory_BFOrder>
    </modules>
    <global>
        <models>
            <benefactory_bforder>
                <class>Benefactory_BFOrder_Model</class>
            </benefactory_bforder>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <mage_productlogupdate>
                        <class>benefactory_bforder/observer</class>
                            <method>execute</method>
                        <type>singleton</type>
                    </mage_productlogupdate>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
</config>